*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
    color: rgba(24, 145, 74, 0.281);
    display: flex;
}
/* Sidebar */
.sidebar{
     height: 100vh;
      width: 250px;
      background-color: #1e1e2f;
      padding-top: 60px;
      position: fixed;
      left: 0;
      top: 0;
      transition: all 0.3s ease;
}
.sidebar a {
      padding: 15px 25px;
      display: block;
      color: white;
      text-decoration: none;
      transition: background 0.2s;
    }

.sidebar a.active {
    background-color: #3e3e5e;
}
.sidebar a:hover{
    background-color: #38388517;
}

     /* Toggle Button */
    .toggle-btn {
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: #1e1e2f;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
      z-index: 1;
      display: none;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .sidebar {
        left: -250px;
      }

      .sidebar.active {
        left: 0;
      }

      .content {
        margin-left: 0;
      }

      .content.shifted {
        margin-left: 250px;
      }

      .toggle-btn {
        display: block;
      }
    }
/* End Sidebar */


/* start modal */
.modal{
    display: none;
    position: flex;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;
}
.modal-content{
     background-color: #fff;
      margin: 15% auto;
      padding: 20px;
      border-radius: 8px;
      width: 80%;
      max-width: 400px;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.close{
    float: right;
    font-size: 20px;
    cursor: pointer;
}
/* end modal */

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    transition: margin-left 0.3s ease;
    
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 9px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 12px;
    cursor: pointer;
    display: none;
}
#next-btn:hover{
    background: #c9f870;
    color: #222;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

#title{
    float: right;
}
h1{
    display: flex;
    justify-content: space-between;
}


